[Unit]
Description=Screenmux client

[Service]
Type=simple
WorkingDirectory=/path/to/screenmux
ExecStart=/path/to/python3 ./client.py server_ip

[Install]
WantedBy=multi-user.target