[Unit]
Description=Screenmux client

[Service]
Type=simple
ExecStart=/path/to/python3 /path/to/screenmux/client.py server_ip

[Install]
WantedBy=multi-user.target